@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 10px;
}

header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00dc8b;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.337);
    z-index: 999;
    margin-bottom: 40px;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav img{
    width: 60px;
    object-fit: cover;
    margin: 0 10px;
}

h1{
    font-size: 3rem;
    color: #fff;
}

.fav{
    display: inline-flex;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.8rem;
    margin:0px 10px;
    text-decoration: underline;
    &:hover{
        text-decoration: overline;
    }
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.fav-mobile{
    display: none;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    font-size: 1.8rem;
    margin:0px 3%;
    text-decoration: underline;
    &:hover{
        text-decoration: overline;
    }  
    @media screen and (max-width: 500px) {
        display: inline-flex;
    }
}